* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #121212; /* a rich dark background */
    color: white;
    font-family: "Galdeano", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* Top Navbar */
.navbar {
    background: #1e1e1e; /* Top div fully red */
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .navbar h2 {
    margin-left: 20px;
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
    margin-left: auto; /* This pushes the links to the right */
    margin-right: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    background-color: black;
  }
  
/* Main Content */
.main {
  padding: 30px;
}

.main h1 {
    color: #d93f3f;
  }
  

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
    background: #1e1e1e; /* dark card background */
    color: white;
  }
  
  .card p {
    color: #d93f3f; /* previously grey, now red */
  }
  
  .card h3 {
    color: white;
  }
  .ez {
    color: #d93f3f;
    font-weight: bold;
  }
  
  .books {
    color: black;
    font-weight: bold;
  }
  
  