* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212; /* bg */
  color: white;
  font-family: "Galdeano", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* navbar */
.navbar {
  background: #1e1e1e;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar h2 {
  margin-left: 20px;
}

.nav-links {
  display: flex;
  gap: 15px;
  margin-left: auto;
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: black;
}

/* Main Content */
.main {
  padding: 30px;
  color: #d93f3f;
}

.main h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid;
}

th {
  background-color: #1e1e1e;
  color: #d93f3f;
}

td {
  color: white;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.edit-btn {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #2980b9;
}

.no-users {
  font-size: 18px;
  color: #7f8c8d;
  margin-top: 20px;
}
.ez {
  color: #d93f3f;
  font-weight: bold;
}

.books {
  color: black;
  font-weight: bold;
}
